# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/app/.cxx/
*.jks
key.properties

# IDE
.idea/
*.iml
